:root {
    --gold: #f2e08e;   
    --silver: #aaaaaa; 
    --serif: "Cinzel", serif;
    --sans-serif: "News Cycle", sans-serif;
}

body {
    background: #000000;
    color: var(--gold);
}

.background-image {
    position: absolute;
    bottom: 0;
    width: 30%;
    z-index: -1;
}

.oscar-left {
    left: 0;
}

.oscar-right {
    right: 0;
}

.page-title {    
    margin-top: 15px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;

    text-align: center;
    font-weight: 700;

    transition: margin-left 0.5s, margin-right 0.5s;
}

.page-title h1 {
    margin-bottom: 0.67em;
    
    color: var(--gold);
    font-family: var(--serif);
    font-size: 2em;
}

.page-title h2 {    
    color: var(--silver);
    font-family: var(--sans-serif);
    font-size: 1.5em;
}

.game-button {
    padding: 10px;

    border: 3px solid var(--silver);
    background-color: var(--gold);
    font-family: var(--serif);
    font-size: 1em;
    font-weight: 700;
}

#start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-container {
    display: none;

    margin-top: 0.67em;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;

    transition: margin-left 0.5s, margin-right 0.5s;
}

.instructions {
    text-align: center;
    color: var(--silver);
    font-family: var(--sans-serif);
    font-size: 1.3em;
}

#displayed-word {
    margin-top: 1.5em;
    margin-bottom: 0.67em;

    text-align: center;
    font-family: var(--serif);
    font-size: 1.5em;
    font-weight: 700;
}

.game-stats {
    margin-top: 20px;
    padding: 15px;

    border: 1.5px solid var(--silver);
    text-align: center;
}

.text-heading {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    color: var(--silver);
    font-family: var(--sans-serif);
    font-size: 1.2em;
}

.text-copy {
    color: var(--gold);
}

.results-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 20px;
    padding: 15px;
}

.picture-of-word {
    width: 200px;
}

#movie-poster {
    display: none;
    width: 100%;
}

.message-and-button {
    width: 300px;
    padding-top: auto;
    padding-bottom: auto;

    text-align: center;
}

#movie-info {
    margin-bottom: 0.67em;
    font-family: var(--serif);
    font-size: 1.5em;
}

#result {
    margin-bottom: 0.67em;

    color: var(--silver);
    font-family: var(--sans-serif);
    font-size: 1.5em;
}

#next-word-button {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#displayed-word {
    letter-spacing: 0.5em;
}

@media screen and (max-width: 980px) {
    .page-title {
        margin-left: 15%;
        margin-right: 15%;
        transition: 0.5s;
    }

    #game-container {
        margin-left: 15%;
        margin-right: 15%;
        transition: 0.5s;
    }
}

@media screen and (max-width: 768px) {
    .page-title {
        margin-left: 10%;
        margin-right: 10%;
        transition: 0.5s;
    }
}

@media screen and (max-width: 640px) {
    #game-container {
        margin-left: 10%;
        margin-right: 10%;
        transition: 0.5s;
    }
}

@media screen and (max-width: 500px) {
    #game-container {
        margin-left: 7%;
        margin-right: 7%;
        transition: 0.5s;
    }
}